== {{int:filedesc}} ==
{{Artwork
  <% if title_nl or title_en %>
  |title            = {{nl|1=<%= title_nl %>}}
                      {{en|1=<%= title_en %>}}
  <% endif %>
  <% if description_nl or description_en %>
  |description      = {{nl|1=<%= description_nl %>}}
                      {{en|1=<%= description_en %>}}
  <% endif %>
  |source           = {{Atlas of Mutual Heritage|institute=<%= institution_shortcode %>}}
  [http://www.atlasofmutualheritage.nl/en/object/?id=<%= amh_id %> Source at the Atlas of Mutual Heritage]  <% if source_link %> - [<%= source_link %> Source at the Nationaal Archief]<% endif %>
  |notes            =
  <% if subjects_en %>
    {{en|1='''Subjects''': <%= subjects_en %>}}
  <% endif %>
  <% if subjects_nl %>
    {{nl|1='''Onderwerpen''': <%= subjects_nl %>}}
  <% endif %>
  <% if inscription_text %>
  <% if location_title %>
    <% if location_type == "post" %>
    {{en|1='''Post''': this image is related to a <%= company_type %> trading post called [http://www.atlasofmutualheritage.nl/en/post/?id=<%= location_amh_id %> ''<%= location_title %>'']}}
    <% elif location_type == "fort" %>
    {{en|1='''Fort''': this image is related to a <%= company_type %> fort called [http://www.atlasofmutualheritage.nl/en/fort/?id=<%= location_amh_id %> ''<%= location_title %>'']}}
    <% endif %>
  <% endif %>
  |inscriptions     = {{Inscription
      |1=<%= inscription_text %>
      <% if inscription_creator %>
      |comment = author: <%= inscription_creator %>
      <% endif %>
      |language = nl
  }}
  <% endif %>
  |date             = <%= date %>
  <% if authors or authors_nl or authors_en %>
  |author           =
    <% for author in authors %>
{{Creator:<%= author %>}}
    <% endfor %>
    {{nl|1=<%= authors_nl %>}}
    {{en|1=<%= authors_en %>}}
  <% endif %>
  |institution      = {{Institution:<%= institution %>}}
  |medium           =
  <% if medium_nl %>
    {{nl|1=<%= medium_nl %>}}
  <% endif %>
  <% if medium_en %>
    {{en|1=<%= medium_en %>}}
  <% endif %>
  <% if dimensions %>
  |dimensions       = <%= dimensions %>
  <% endif %>
  <% if institution_shortcode == "na" %>
  |accession number = '''<%= new_accesion_number %>''' (old number: ''<%= accession_number %>'')
  <% else %>
  |accession number = <%= accession_number %>
  <% endif %>
  |permission       = {{PD-Art-100}}
}}

<% if location_lat %>
{{Object location|<%= location_lat %>|<%= location_lng %>}}
<% endif %>

<!-- <metadata_mapped_json><%= jsondata %></metadata_mapped_json> -->

<!-- <metadata_raw>
<%= xmldata %>
</metadata_raw> -->

<% for category in categories %>
[[Category:<%= category %>]]
<% endfor %>